.MuiGrid-item > form {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 32px;
	min-width: 350px;
	border-radius: 8px;
	margin: 32px;
	height: 250px;
	height: 300px;
}

.MuiGrid-item > form > button {
	margin-top: 36px;
	width: 50%;
	align-self: center;
}

.inputFied {
	margin: 10px;
}
